[submodule "compos/dockerfiles/geoserver"]
	path = compos/dockerfiles/geoserver
	url = https://github.com/pi-geosolutions/docker-geoserver.git
[submodule "compos/qgisserver"]
	path = compos/qgisserver
	url = https://github.com/jeanpommier/qgis-server.git
